In [2]:
print('hellow')

hellow

In [3]:
hello

NameError: name 'hello' is not defined

In [4]:
"hello"

'hello'

In [5]:
'hello'

'hello'

In [6]:
print("hello jupy")

hello jupy

In [10]:
str('5', '3.5', 'true')
int()
float()
boolean()
str

TypeError: decoding str is not supported

In [11]:
a= 'string is love'
a

'string is love'

In [12]:
's' in a

True

In [ ]:
str('5', '3.5', 'true')
int()
float()
boolean()
str

In [ ]:

print("hello jupyter")

In [1]:
#Python Webcube youtube channel

In [ ]:
num1=5
num2=8
print(" the sum of given 2 numbers is", num1+num2)

In [2]:
num1=5
num2=8
sum=num1+num2
print(" the sum of given 2 numbers is:", sum)

 the sum of given 2 numbers is 13

In [3]:
print(" the sum of given 2 numbers is:", int(input())+int(input()))

34
45
 the sum of given 2 numbers is: 79

In [5]:
print("first number is",input(), "second number is", input() ," the sum of given 2 numbers is:", input()+input())

67
69
ui
ui
first number is 67 second number is 69  the sum of given 2 numbers is: uiui

In [6]:
float(input("enter num1:"))
float(input("Enter num2:"))
sum=num1+num2
print(" the sum of given 2 numbers is:", sum)

enter num1:34
Enter num2:34
 the sum of given 2 numbers is: 13

In [14]:
num1, num2= 23, 78
sum=num1+num2
print(" the sum of given 2 numbers is:", sum, end " ")
print(" the sum of given 2 numbers is:", sum)

SyntaxError: invalid syntax (2299778790.py, line 3)

In [16]:
# find the square root of the number
num=int(input("enter the number:"))
sr=num**(1/2)
print("square root of the given number is:", sr)

enter the number:23
square root f the given number is: 4.795831523312719

In [23]:
 print("the square root of the given number is:", float(input("enter number"))**(1/2))

enter number54
the square root of the given number is: 7.3484692283495345

In [24]:
# Area of the trangle
height=4
base=4
area=1/2*height*base
print(area)

8.0

In [26]:
print("Area of trangle is", int(input("height:"))*int(input("base:"))*0.5)

height:3
base:7
Area of trangle is 10.5

In [1]:
# swap the two veriables
x=5
y=8
temp=x
print("values of x and y before swapping are:", x, y)
x=y
y=temp
print("values of x and y after swapping are:", x,y)

values of x and y before swapping are: 5 8
values of x and y after swapping are: 8 5

In [12]:
x, y=5,8
print("value of X:",x 
      , "value of y:", y)
x,y=y,x
print("value of X:",x, "value of y:", y)

value of X: 5 value of y: 8
value of X: 8 value of y: 5

In [1]:
km = float(input("Enter your value in kms:"))

miles = (0.621371)*km

print (km, "kms will be", miles, "miles")

Enter your value in kms:4
4.0 kms will be 2.485484 miles

In [2]:
num = int(input("enter a number here:"))

if num > 0:
    print("it is a positive number")
elif num ==0:
    print("Given number is a zero")
else:
    print("it is a negative number")

enter a number here:6
it is a positive number

In [3]:
num = int(input("enter a number here:"))

if num > 0:
    print("it is a positive number")
    
    elif num ==0:
    print("Given number is a zero")
    else:
    print("it is a negative number")

SyntaxError: invalid syntax (188569239.py, line 6)

In [4]:
# Even or odd number

num = int(input(" Enter a number:"))

if num % 2 == 0:
    print("it is an even number:")
else:
    print(" It is an odd number")

 Enter a number:8
it is an even number:

In [7]:
# year is elap yearor not

year = int(input("enter a year:"))

if (year % 400 == 0) and (year % 100 ==0):
    print(year ," is a leap year")
    
elif(year %4==0)and (year % 100 == 0):
    print(year, " is a leap year")
    
else:
    print(year," is not a leap year")

enter a year:1992
1992  is not a leap year

In [10]:
#prime number

num = int(input("enter a number:"))
if num == 1:
    print(" Givn number is not a prime number")
if num>1:
    for i in range (2, num):
        if num % i == 0:
            print("it is not a prime number")
            break
    else:
        print("it is a prime number")

enter a number:8
it is not a prime number

In [11]:
# python program to generate a random number

import random
num= random.randint(1,8)
print(num)

3

In [15]:
# Print all prime numbers in given interval
lower = int(input("enter upper limit:"))
upper = int(input("enter lower limit:"))

for num in range(lower,upper+1):
    for i in range(2,num):
        if num%i == 0:
            break
    else:
        print(num)

enter upper limit:8
enter lower limit:45
11
13
17
19
23
29
31
37
41
43

In [23]:
# Program to convert celcious to Fahrenhet
Celsius = int(input("entert temperature in celsious:"))
faranheit= (Celsius*(1.8))+32
print(Celsius, "celsius is ",faranheit ,"faranheit")

entert temperature in celsious:7
7 celsius is  44.6 faranheit

In [25]:
# Program to display the multiplication table
n=int(input())
for i in range(1,11):
    print(n , "x", i, "=", n*i)

6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [1]:
n=19
i=1
while i<=10:
    print(n ,"x",i, "=", n*i )
    i+=1

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [3]:

# Find the Factorial of given number
num= int(input("enter a number"))
fact = 1

if num<0:
    print ("factorial of o does not exist")
if num == 0:
    print("factorial of o is ", 1)
if num > 0:
    for i in range (1, num+1):
        fact = fact * i
print("factorial of given number is", fact)

enter a number5
factorial of given number is 120

In [8]:
def fact(a):
    
    if a == 0:
        return 1
    else:
        return ((a)*fact(a-1))
num = int(input("enter  number here:"))
result=fact(num)
print("The factorial of the given number is", result)

enter  number here:5
The factorial of the given number is 120

In [2]:
num = int(input("enter the number :"))
if num<0:
    print ('please enter positive number')
else: 
    sum=0
    while num>0:
        sum +=num
        num -=1
    print("sum of the natural numbers up to given number:", sum)

enter the number :9
sum of the natural numbers up to given number: 45

In [5]:
num=int(input("enter a number:"))
sum=0
if num<0:
    print("enter a positive number")
for i in range(1, num+1):
    sum=sum+i
    i-=1
print("sum of the all natural numbers upto given number is",sum)

enter a number:3
sum of the all natural numbers upto given number is 6

In [10]:
# Armstrong number in an interval  
num=int(input("enter a number:"))
sum=0
temp=num
while temp>0:
    
    digit=temp%10
    sum +=digit ** 3
    temp//=10
if num==sum:
    print("armstrong number")
else:
    print("not armstrong number")

enter a number:153
armstrong number

In [11]:
# python program to display 
#powers of 2 using Anonymous Function
nterms= int(input("enter number of terms here:"))
result=list(map(lambda x:2**x, range(nterms+1)))
print(result)

enter number of terms here:7
[1, 2, 4, 8, 16, 32, 64, 128]

In [13]:
nterms= int(input("enter number of terms here:"))
result=list(map(lambda x:2**x, range(nterms+1)))
for i in range (nterms +1):
    
    print("the value of 2 raised to power", i, "is", result[i])

enter number of terms here:7
the value of 2 raised to power 0 is 1
the value of 2 raised to power 1 is 2
the value of 2 raised to power 2 is 4
the value of 2 raised to power 3 is 8
the value of 2 raised to power 4 is 16
the value of 2 raised to power 5 is 32
the value of 2 raised to power 6 is 64
the value of 2 raised to power 7 is 128

In [2]:
#python program to find numbers divisible by another number
print("the numbers divisible by 13 are:")
for i in range(1,100):
    if i%13==0:
        print(i)

the numbers divisible by 13 are:
13
26
39
52
65
78
91

In [4]:
l=[13,45, 26, 39, 67, 52]
result=list( filter(lambda x: x%13==0, l))
print("numbers divisible by 13 are :", l)

numbers divisible by 13 are : [13, 45, 26, 39, 67, 52]

In [7]:
#Python program tocovert decimal to binal octal to hexadecimal
decimal= int(input("enter a number here:"))
print("the conversion of decimal number", decimal, "is:")
print(bin(decimal), "in binary")
print(oct(decimal), "in octal")
print(hex(decimal), "in hexadecimal")

enter a number here:6
the conversion of decimal number 6 is:
0b110 in binary
0o6 in octal
0x6 in hexadecimal

In [8]:
# python program to find ASCII value of character
char= "%"
print(ord(char))

37

In [9]:
char = "!"
ord(char)

33

In [10]:
#python program to find HCF or GCD
def hcf(x,y):
    if x>y:
        smaller=y
    else:
        smaller=x
    for i in range(1, smaller+1):
        if ((x%i==0) and (y%i==0)):
            hcf=i
    
    return hcf
print("the hcf of the given number is", hcf(12,16))

the hcf of the given number is 4

In [19]:
# Python program to find the factors of a number
num= int (input("enter a number:"))
print("factors of the given numbers are:")          
for i in range(1, num+1):
    if num%i==0:
        print (i, end=",")

enter a number:43
factors of the given numbers are:
1,43,

In [14]:
#python program to make a simple calculator
print(".......mini calculator........")
num1=int(input("enter first number here:"))
num2=int(input("enter second number here:"))
print("press 1 for addition \n press 2 for subtraction \npress 3 for multiplication")
choice= int(input("enter yur choice in 1-4:"))
if choice == 1:
    print("Addition of given two numbers is :", num1+num2)
if choice==2:
    print("subtraction of given two number is:", num1-num2)
if choice==3:
    print("multiplication:", num1*num2)
if choice==4:
    print("Division of two given number is", num1/num2)
else:
    ("Invalid Choice")

.......mini calculator........
enter first number here:6
enter second number here:8
press 1 for addition
 press 2 for subtraction
press 3 for multiplication
enter yur chice in 1-4:4
Division of two given number is 0.75

In [16]:
# Python program to shuffle deck of cards:
import random, itertools
deck = list(itertools.product(range(1,14),["Spade", "Club", "Hearts",""])
random.shuffle(deck)
print(deck)
for i in rang(5):
    print(deck[i][0], "of", deck[i][1])

SyntaxError: '(' was never closed (3537084750.py, line 3)

In [18]:
#Python program to display Fibonacci Sequence Using Recursion
def fibo(n):
    if n<=1:
        return n
    else:
        return fibo(n-1)+fibo(n-2)
    
n = int(input("enter a number here:"))
if n<=0:
    print("enter a positive number")
else:
    print("fibonacci Sequence")
    for i in range(n):
        print(fibo(i))

enter a number here:9
fibonacci Sequence
0
1
1
2
3
5
8
13
21

In [20]:
# Python program to Display Calender
import calendar
year=int(input("enter a year"))
month=int(input("enter a month"))

calendar = calendar.month(year, month)
print (calendar)

enter a year1992
enter a month5
      May 1992
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [21]:
import calendar
y=int(input("enter a year"))
m=int(input("enter a month"))

c = calendar.month(y, m)
print (c)

enter a year1992
enter a month5
      May 1992
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [22]:
import calendar
#year=int(input("enter a year"))
#month=int(input("enter a month"))

#calendar = calendar.month(year, month)
print (calendar.month(1992, 5))

      May 1992
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [24]:
import calendar
print (calendar.month(1992, 2))

   February 1992
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

In [25]:
# python program to find factorial of number using recursion

def fact(n):
    if n==1:
        return 1
    else:
        return (n*fact(n-1))
n=int(input("enter a nmber:"))
if n<=0:
    print("factorial of number less thn 1 does not exist")
else:
    print("factorial of given no is:", fact(n))

enter a nmber:5
factorial of given no is: 120

In [26]:
# python program to find sum of naural numbers using recursion
def snn(n):
    if n<=1:
        return 1
    else:
        return (n+snn(n-1))
n=int(input())
if n<=0:
    print("enter a positive number")
else:
    print("snn", snn(n))

7
snn 28

In [8]:
# Python program to convert decimal to binary using recursion
def convertBinary(n):
    if n>1:
        convertBinary(n//2)
        print(n%2, end = " ")
print("the binary of the given number is")
convertBinary(35)

the binary of the given number is
0 0 0 1 1

In [4]:
n=15
n//2

7

In [5]:
n%2

1

In [7]:
n=35
n//2

17

In [16]:
# Python program to add two matrices
a=[[4,5,6],
  [3,4,5],
  [9,7,6]]

b=[[1,2,3],
  [4,5,6],
   [3,2,1]]
resultant=[[0,0,0],
          [0,0,0],
           [0,0,0]]

for i in range(len(a)):
    for j in range(len(a[0])):
        resultant[i][j] = a[i][j]+ b[i][j]
        #print(resultant)
        
print(resultant)

[[5, 7, 9], [7, 9, 11], [12, 9, 7]]

In [14]:
a=[[4,5,6],
  [3,4,5],
  [9,7,6]]
len(a)

3

In [15]:
len(a[0])

3

In [17]:
a=[[4,5,6],
  [3,4,5],
  [9,7,6]]

b=[[1,2,3],
  [4,5,6],
   [3,2,1]]
resultant=[[0,0,0],
          [0,0,0],
           [0,0,0]]

for i in range(len(a)):
    for j in range(len(a[0])):
        resultant[i][j] = a[i][j]+ b[i][j]
        print(resultant)
        
print(resultant)

[[5, 0, 0], [0, 0, 0], [0, 0, 0]]
[[5, 7, 0], [0, 0, 0], [0, 0, 0]]
[[5, 7, 9], [0, 0, 0], [0, 0, 0]]
[[5, 7, 9], [7, 0, 0], [0, 0, 0]]
[[5, 7, 9], [7, 9, 0], [0, 0, 0]]
[[5, 7, 9], [7, 9, 11], [0, 0, 0]]
[[5, 7, 9], [7, 9, 11], [12, 0, 0]]
[[5, 7, 9], [7, 9, 11], [12, 9, 0]]
[[5, 7, 9], [7, 9, 11], [12, 9, 7]]
[[5, 7, 9], [7, 9, 11], [12, 9, 7]]

In [ ]:
# Python program to check wheather a string is palindrome or not

In [21]:
#python program to sort words in alphabetical order
a = input("enter a string")
w=a.split()
print("splited character array", w)
for i in range(len(w)):
    
    w[i]=w[i].lower()
print(w)
w.sort()
print("after sorted alphabetically",w)

enter a stringhey what are you doing
splited character array ['hey', 'what', 'are', 'you', 'doing']
['hey', 'what', 'are', 'you', 'doing']
after sorted alphabetically ['are', 'doing', 'hey', 'what', 'you']

In [ ]:
a = input("enter string:")
w=a.split()
print("splited character array", w)
for i in range(len(w)):
    
    w[i]=w[i].lower()
print(w)
w.sort()
print(w)

In [2]:
a = input("enter a string: ")
w=a.split()
print("splited character array", a.split())
#for i in range(len(w)):
    
 #   w[i]=w[i].lower()
#print(w)
w.sort()
#print(w)

enter a string: my name is singh
splited character array ['my', 'name', 'is', 'singh']

In [4]:
print(w.sort())

None

In [5]:
# Python program to mukltiply two matrices
a=[[4,5,6],
  [3,4,5],
  [9,7,6]]

b=[[1,2,3],
  [4,5,6],
   [3,2,1]]
resultant=[[0,0,0],
          [0,0,0],
           [0,0,0]]

for i in range(len(a)):
    for j in range(len(b[0])):
        for k in range (len(b)):
            resultant[i][j] += a[i][k] * b[k][j]
       # print(resultant)
        
print(resultant)

[[42, 45, 48], [34, 36, 38], [55, 65, 75]]

In [6]:
#Python program to catch multiple exceptions in one line

string=input("enter string here:")
num=int(input("enter a number here:"))
print(string+num)

enter string here:my name
enter a number here:10

TypeError: can only concatenate str (not "int") to str

In [9]:
#string=input("enter string here:")
try:
    string=input("enter string here:")
    num=int(input("enter a number here:"))
    print(string+num)
except(ValueError, TypeError) as a:
    print(a)

enter string here:hi there
enter a number here:10
can only concatenate str (not "int") to str

In [ ]:
string=input("enter string here:")
try:
    #string=input("enter string here:")
    num=int(input("enter a number here:"))
    print(string+num)
except(ValueError, TypeError) as a:
    print(a)

In [22]:
# Python program to parse a string to a float or Int
string="1234.5"
print(type(string))
a=float(string)
b=int(float(string))
print(type(a))
print(type(int(a)))
print(type(int(float(string))))
print(type(b))
s="wert"
print(int(s))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

ValueError: invalid literal for int() with base 10: 'wert'

In [24]:
#python program to print output without new line
print("herry", end=" ")
print("potter")

herry potter

In [26]:
#How to check if a string ia s valid keyword in python
import keyword

w= ["break", "do", "what", "global", "happy", "hello"]
for i in range(len(w)):
    if keyword.iskeyword(w[i]):
        print(w[i], "is a keyword in python")
    else:
        print(w[i],"is not a keyword in python")

break is a keyword in python
do is not a keyword in python
what is not a keyword in python
global is a keyword in python
happy is not a keyword in python
hello is not a keyword in python

In [31]:
import keyword
a="break"
print(keyword.iskeyword(a))
keyword.iskeyword("do")

True

False

In [33]:
#import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
# To write a Bette
# Multiple checks in if statements
marks=80
if marks==90 or marks==80 or marks==95:
    print("good job")

good job

In [35]:
marks=80
if marks>90:
    print("excellent job")
else:
    print("good job")

good job

In [36]:
print("EJ" ) if marks>90 else print("GJ")

GJ

In [37]:
def square(x):
    return x*x
print(square(4))

16

In [39]:
#defname()=def
a=lambda b: b**2
print(a(4))

16

In [42]:
names=["joe","reena","pinku","john"]
marks=[90, 60, 70, 80]
subjects=["math", "bio","phy","chem"]
for name, mark, subject(names,marks,subjects ):
    print(name, "has scored",mark, "in",subject)

SyntaxError: cannot assign to function call (3781126455.py, line 4)

In [ ]:
names=["joe","reena","pinku","john"]
marks=[90, 60, 70, 80]
subjects=["math", "bio","phy","chem"]
for name, mark, subject(names,marks,subjects ):
    print(name, "has scored",mark, "in",subject)

In [47]:
num = input("enter a number here:")
def float_check(num):
    try:
        float(num)
        return True
    except:
        return False
print(float_check(num))

enter a number here:num
False

In [ ]:
#num = input("enter a number here:")
def float_check(num):
    try:
        float(num)
        return True
    except:
        return False
print(float_check(45))

In [6]:
a,b,c=input("enter tree values here:").split(",")
print("the addition of the given number is:")
print(int(a)+int(b)+int(c))

enter tree values here:12,34,56
the addition of the given number is:
102

In [7]:
num=8
sr=num**(1/2)
print("square root of :",num, "is",sr )

square root of : 8 is 2.8284271247461903

In [ ]:
# Surabh sir Python

In [8]:
print("enter two veriables:")
a=int(input())
b=int(input())
c=a+b
print("sum is:",c)

enter two veriables:
5
5
sum is: 10

In [9]:
import A1
print(A1.x)

ModuleNotFoundError: No module named 'A1'

In [12]:
import keyword
print("there are", len(keyword.kwlist),"keywords in python")
print(keyword.kwlist)
print(keyword.iskeyword("do"))
a="break"
print(keyword.iskeyword(a))

there are 35 keywords in python
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
False
True

In [14]:
3+4
3-7

-4

In [15]:
3/4

0.75

In [16]:
3//4

0

In [17]:
3.0//4

0.0

In [18]:
10//5

2

In [20]:
not True

False

In [22]:
3<4<7<8>6

True

In [23]:
"seeta" or "geeta"

'seeta'

In [24]:
4 or 5

4

In [25]:
4 and 5

5

In [26]:
3/4

0.75

In [27]:
3//4

0

In [28]:
5%2

1

In [29]:
3.5%2

1.5

In [30]:
4>5

False

In [31]:
0 and 5

0

In [32]:
0 or 5

5

In [33]:
3&4

0

In [34]:
3&2

2

In [35]:
3/2

1.5

In [36]:
3|4

7

In [37]:
x=5
y=5

In [38]:
id(x)

139966409818480

In [39]:
id(y)

139966409818480

In [40]:
x is y

True

In [41]:
y=6

In [42]:
id(x)

139966409818480

In [43]:
id(y)

139966409818512

In [44]:
x is y

False

In [45]:
x is not y

True

In [46]:
id(x)

139966409818480

In [47]:
x=7
id(x)

139966409818544

In [48]:
type(x)

int

In [50]:
a,b,c=5,6,7
print(a,b,c)
print(a,b,c, sep="-")

5 6 7
5-6-7

In [51]:
x=5+"5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
x="x"+"5"
print(x)

x5

In [55]:
x=str(5)+"5"
x

'55'

In [56]:
x=5+int("5")
x

10

In [57]:
x=5.7
int(x)

5

In [59]:
y=8
float(y)

8.0

In [60]:
x="abc"
type(x)

str

In [61]:
int(x)

ValueError: invalid literal for int() with base 10: 'abc'

In [62]:
x="123"
type(x)

str

In [63]:
int(x)

123

In [64]:
type(x)

str

In [65]:
x=2.4
complex(x)

(2.4+0j)

In [67]:
bool(x)

True

In [69]:
bin(5)

'0b101'

In [71]:
type(bin(5))

str

In [72]:
x=7
hex(x)

'0x7'

In [73]:
oct(x)

'0o7'

In [75]:
ord("x")

120

In [76]:
type(ord("x"))

int

In [77]:
type(hex(x))

str

In [78]:
type(oct(8))

str

In [80]:
chr(65)

'A'

In [82]:
a,b=input(), input()#string
a+b

5
7

'57'

In [ ]:
a,b =int(input()), int(input())
a+b

In [ ]:
x=6
y=9
x+y

In [3]:
# python program to add two numbers
print("enter two numbers:")
a,b=int(input()),int(input())
#c=a+b
print("sum is:", a+b)

enter two numbers:
7
7
sum is: 14

In [4]:
# if statement
x=-2
if x>0:
    print("hello")
    print("my hero")
print("Bye")

Bye

In [6]:
x=2
if x>0:
    print("hello")
    print("my hero")
print("how are you")

hello
my hero
how are you

In [8]:
x=int(input("enter a number:"))
if x>0:
    print("positive")
else:
    print("non positive")

enter a number:8
positive

In [9]:
x=int(input(" Enter marks"))
if x>90:
    print("Grade A")
elif x>80:
    print("Grate B")
elif x>70:
    print("grade C")
elif x>60:
    print("Grade D")

 Enter marks67
Grade D

In [10]:
#single line if else
# code1 if condition else code2
x=int(input())
if x%2==0:
    print("even")
else:
    print("odd")

6
even

In [11]:
"even" if int(input())%2==0 else "odd"

7

'odd'

In [12]:
x=int(input())
"even" if x%2==0 else "odd"

9

'odd'

In [13]:
# print money five times on the screen
i=1
while i<=5:
    print("money")
    i+=1

money
money
money
money
money

In [14]:
# print N natural numbers
i=1
n=int(input("enter a limit for natural number"))
while i<=n:
    print(i, end=" ")
    i+=1

enter a limit for natural number8
1 2 3 4 5 6 7 8

In [16]:
# program to calculate first n natural numbers
n=int(input("enter limit:"))
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print(sum)

enter limit:4
10

In [17]:
n=int(input("enter limit:"))
sum=0
for i in range(1, n+1):
    sum=sum+i
print(sum)

enter limit:4
10

In [ ]:
#break
#program to check wheter the given number is prime or not
n=int(input("enter a number:"))
i=2
while i<n:
    if n%i==0:
        print("not prime")
        break
        i+=1
else:#else block will run only if block will not end due to break
    print("prime number")

In [2]:
#program to check wheter the given number is prime or not
n=int(input("enter a number:"))
i=2
while i<n:
    if n%i==0:
        #print("not prime")
        break
        i+=1
if i==n:
    print("prime")
else:
    print(n,"is not prime number")

enter a number:6
6 is not prime number

In [6]:
#python programe to print a unicode of each character of given string
s="snehal"
print("unicode of snehal")
for i in s:
    print(i,ord(i),end=" ")

unicode of snehal
s 115 n 110 e 101 h 104 a 97 l 108

In [7]:
print("enter the number")
n=int(input())
for i in range(1, n+1):
    print(i**2, end=" ")

enter the number
6
1 4 9 16 25 36

In [8]:
print("enter the number")
n=int(input())
for i in range(1, n+1):
    print(i**2, end=" ")
    print()

enter the number
6
1
4
9
16
25
36

In [9]:
print("enter the number")
n=int(input())
for i in range(1, n+1):
    print(i**2)

enter the number
6
1
4
9
16
25
36

In [12]:
def f1():
    print("enter the number")
    n=int(input())
    for i in range(1, n+1):
        print(i**2, end=" ")

In [13]:

def f1():
    print("enter the number")
n=int(input())
for i in range(1, n+1):
    print(i**2, end=" ")

6
1 4 9 16 25 36

In [15]:
def f1():
    print("enter the number")
n=int(input())
for i in range(1, n+1):
    print(i**2, end=" ")
f1()

6
1 4 9 16 25 36 enter the number

In [16]:
f1()

enter the number

In [18]:
def f1():
    print("enter the number")
n=int(input())
for i in range(1, n+1):
    print(i**2, end=" ")
f1()#function call
f1()#function call

3
1 4 9 enter the number
enter the number

In [19]:
f1(3)

TypeError: f1() takes 0 positional arguments but 1 was given

In [ ]:
#tsrn,tnrs,tnrs,tsrn

In [3]:
#Global veriable
#Local veriable
def f1():
    x=10#local veriable
    print("fuction bloack",x)
x=7
print("outside block",x)
f1()

outside block 7
fuction bloack 10

In [ ]:
def f1():
    x=10#local veriable
    print("fuction bloack",x)
x=7
print("outside block",x)
f1()

In [5]:
def f1(3):
    #x=10#local veriable
    print("fuction bloack",x)
x=7
print("outside block",x)
f1()

SyntaxError: invalid syntax (35092884.py, line 1)

In [6]:
f1(x=6)

TypeError: f1() got an unexpected keyword argument 'x'

In [7]:
f1()

fuction bloack 10

In [8]:
def f1():
    x=10#local veriable
    print("fuction bloack",x)
x=7
print("outside block",x)
f1()

outside block 7
fuction bloack 10

In [9]:
f1()

fuction bloack 10

In [11]:
def f1():
    x=10#local veriable
    print("fuction bloack",x)
    f2()
    print("hi f2()")
x=7
print("outside block",x)
f1()
f2()

outside block 7
fuction bloack 10

NameError: name 'f2' is not defined

In [ ]:
#ways to define function
#tsrn,tnrs,tnrs,tsrn

In [12]:
///def f():
    ....
    ....
    return value///

SyntaxError: invalid syntax (1331236398.py, line 1)

In [13]:
def add(a,b):#formal arguments
    c=a+b
    print("sum is",c)
add(10,8)#Actual arguments

sum is 18

In [14]:
# Takes nothing, Return Something
def add():
    print("Enter two numbers")
    a,b=int(input()), int(input())
    c=a+b
    return c
s=add()
print("sum is",s)
add()

Enter two numbers
8
8
sum is 16
Enter two numbers
7
8

15

In [15]:
#Take something, Return Something
def add(a,b):
    c=a+b
    return c
add(10,20)

30

In [16]:
def add(a,b):
    c=a+b
    return print("addition is", c)
add(10,20)

addition is 30

In [17]:
 def add(a,b):
    c=a+b
    return print("addition is", c)
x=add(10,20)
print(x)

addition is 30
None

In [ ]:
#lambda expression
#how to use lambda 
# lambda input:expression
# lambda a,b=a+b

In [2]:
def add(a,b):
    return a+b
add(6,6)
#lambda x,y:x+y

12

In [3]:
lambda x,y:x+y

In [9]:
def add(a,b):
    return a+b
add(6,6)#function call
#x=add#instance object
#id(add)
#id(x)

12

In [10]:
def add(a,b):
    return a+b
add(6,6)#function call
x=add#instance object

In [11]:
id(add)

139713105795184

In [12]:
id(x)

139713105795184

In [13]:
x is add

True

In [14]:
add(3,3)

6

In [15]:
x(3,3)

6

In [16]:
lambda a,b:a+b

In [17]:
#(lambda a,b:a+b)=x
#(lambda a,b:a+b)(3,4)
#x(3,4)
#add(3,4)

In [18]:
(lambda a,b:a+b)(3,4)

7

In [19]:
f1=lambda a,b:a+b
f1(3,4)

7

In [ ]:
#Recursion using lambda

In [21]:
#Calculate factorial of a numbers using recursive lambda expression
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
fact(5)

120

In [23]:
f=lambda n:1 if n==0 or n==1 else n*f(n-1)
f(5)

120

In [24]:
f(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
#Default Arguments, Positional and Keyword arguments
def f1(a,b):
    d=a+b
    print("Sum is", d)
f1(3,4)#function call
f1(3,4,5)#function call

In [ ]:
def f1(a,b,c):
    d=a+b
    print("Sum is", d)
f1(3,4)#function call
f1(3,4,5)#function call

In [ ]:
def f1(a,b,c=0):
    d=a+b
    print("Sum is", d)
f1(3,4)#function call
f1(3,4,5)#function call

In [ ]:
def f1(a,b=0,c):
    d=a+b
    print("Sum is", d)
f1(3,4)#function call
f1(3,4,5)#function call

In [ ]:
def f1(a,b=0,c=0):
    d=a+b
    print("Sum is", d)
f1(3,4)#function call
f1(3,4,5)#function call

In [ ]:
def f1(a=0,b=0,c=0):
    d=a+b
    print("Sum is", d)
f1()
f1(10)
f1(3,4)#function call
f1(3,4,5)#function call

In [ ]:
def f1(a,b):
    print("a=",a, "b=",b)
f1(2,3)#a=2 b=3, positional arguments
f1(a=2,b=3)# keyword arguments
#f1(b=2,3)#can not hv positional arg after keyword arg

In [ ]:
def f1(a,b):
    print("a=",a, "b=",b) 
f1(2,4)
#f1(a=2,4)
#f1(2, b=3)

In [30]:
f1(a=2,4)

SyntaxError: positional argument follows keyword argument (699038625.py, line 1)

In [29]:
f1(2, b=3)

5

In [25]:
f1(b=2,3)

SyntaxError: positional argument follows keyword argument (1511828503.py, line 1)

In [ ]:
#class
object

In [ ]:
  #Recurssion-function calling itself is a recurssion
def f1():
    f1()

In [1]:
def f():
    print("hi")
    f()

In [4]:
def f():
    print("hi")
    f()
#f()
#never ending recursion,

In [5]:
def f():
    print("hi")
    f()
    print("bye")
#f()
#never ending recursion,
#we have not create a situatin where recursion can end

In [6]:
def f1(n):
    if n==1:
        return 1
    s=n+f(n-1)
    return s

In [8]:
n=int(input("enter a number"))
def f1(n):
    if n==1:
        return 1
    s=n+f(n-1)
    return s

enter a number4

In [9]:
#n=int(input("enter a number"))
def f1(n):
    n=int(input("enter a number"))
    if n==1:
        return 1
    s=n+f(n-1)
    return s

In [10]:
def f1(n):
    n=int(input("enter a number"))
    if n==1:
        return 1
    s=n+f(n-1)
    return s
f1()

TypeError: f1() missing 1 required positional argument: 'n'

In [11]:
def f1(n):
    n=int(input("enter a number"))
    if n==1:
        return 1
    s=n+f(n-1)
    return s
f1(4)

enter a number4

TypeError: f() takes 0 positional arguments but 1 was given

In [14]:
def f1(n):
    if n==1:# base case 
        return 1
    s=n+f1(n-1)
    return s
f1(4)

10

In [17]:
def f1(n):
    if n==1:
        return 1
    s=n+f1(n-1)
    return s
f1(4)
x=f1(3)
print("summation upto n",x)

summation upto n 6

In [ ]:
def f1(n):
    if n==1:
        return 1
    s=n+f1(n-1)
    return s
f1(4)
#4+f(3)
#f(3)=3+f(2),f(2)=2+f(1),f(1)=1= 2+1+3+3+4+6

In [ ]:
#oops concept
#encapsulation, abstraction, inheritance, polymorphism

In [ ]:
#classes -comman noun, object- proper noun, state-set of properties stored in bject

In [ ]:
# defining class
#class class_name:
#    veriable
#    function

In [18]:
#creating object
class test:
    x=9
    y=8
    def f():
        print("hi")
        x=3
        print("x is ", x)
t1=test()
t2=test()#object

In [21]:
#creating object
class Test:
    x=9
    y=8
    def f3():
        print("hi")
        x=3
        print("x is ", x)
t1=Test()
t2=Test()#object
#f3()

In [23]:
class Test:
    x=9
    y=8
    def __init__(self):
        print("hi")
        x=3
        print("x is ", x)
t1=Test()
t2=Test()#object

hi
x is  3
hi
x is  3

In [26]:
class best:
    x=2
    y=1
    def __init__(self):
        self.a=a
        print("a is", a)
t1=best(a)#__init__(t1)

NameError: name 'a' is not defined

In [28]:
class Best:
    x=2
    y=1
    def __init__(self):
        self.a=a
        print("a is")
t1=Best(a)#__init__(t1)

NameError: name 'a' is not defined

In [29]:
class Best:
    x=2
    y=1
    def __init__(self):
        self.a=a
        print("a is", a)
t1=Best(a)#__init__(t1)

NameError: name 'a' is not defined

In [30]:
class Best:
    x=2
    y=1
    def __init__(self):
        self.a=a
        print("a is", a)
t1=Best()#__init__(t1)

NameError: name 'a' is not defined

In [31]:
class Best:
    x=2
    y=1
    def __init__(self):
        self.a=4
        print("a is", a)
t1=Best()#__init__(t1)

NameError: name 'a' is not defined

In [34]:
class Best:
    x=2
    y=1
    def __init__(self,a):
        self.a=a
        print("a is", a)
t1=Best(6)#__init__(t1,6)#t1=object,t1 contain a=6

a is 6

In [35]:
class Best:
    x=2
    y=1
    def __init__(self,a):
        self.a=a
        #print("a is", a)
t1=Best(6)#__init__(t1,6)#t1=object,t1 contain a=6

In [36]:
class Best:
    x=2
    y=1
    def __init__(self,4):
        self.a=a
        print("a is", a)
t1=Best(6)#__init__(t1,6)#t1=object,t1 contain a=6

SyntaxError: invalid syntax (2362958265.py, line 4)

In [37]:
class Best:
    x=2
    y=1
    def __init__(self,a):
        self.a=a
        print("a is", a)
t1=Best(6)#__init__(t1,6)#t1=object,t1 contain a=6
t2=Best(8)

a is 6
a is 8

In [ ]:
#class object variable,instance object veriable, local veriable, global variable

In [38]:
class Test():
    x=2
    def f():
        m=1
    def __init__(self):
        self.a=9
        #print("a is",a)
t1=Test(4)
t2=Test()

TypeError: Test.__init__() takes 1 positional argument but 2 were given

In [40]:
class Test():
    x=2
    def f():
        m=1
    def __init__(self):
        #self.a=a
        print("a is",a)
t1=Test(4)
t2=Test()

TypeError: Test.__init__() takes 1 positional argument but 2 were given

In [42]:
class Test():
    x=2
    def f():
        m=1
    def __init__(self, a):
        self.a=a
        #print("a is",a)
t1=Test(4)
#t2=Test()

In [45]:
class Test():
    x=2
    def f():
        m=1
    def __init__(self,a):
        self.a=a
        print("a is",a)
t1=Test(4)
t2=Test(3)

a is 4
a is 3

In [46]:
class Test():
    x=2
    def f():
        m=1
        print("local variable m ")
    def __init__(self,a):
        self.a=a
        print("a is",a)
t1=Test(4)
t2=Test(3)
#All variable names in above code
# x,m, a, t1.a, t2.a, t1, t2 , f1, __init__, Test, self

a is 4
a is 3

In [ ]:
# x -- class object variabl
# m -- local variable
# a -- local vriable
# t1.a -- instance object vriable
# t2.a -- instance object variable
# t1 -- global variable
# t2 -- global variable
# self -- local variable
# Test -- global variable
# f1 -- variable to represent function object

In [ ]:
#Attribute of class

In [ ]:
class Test():
    def f(self):#instance method
        self.a=10
    @staticmethod
    def f1():
        print("hello")
    @classmethod
    def f2(cls):
        cls.x=6
        
def fun():
    print("Non member function")
    
t1=Test()
t1.b=11
t1.f1()# f1(t1)

In [ ]:
class Test():
    x1=9 # class object variable (static variable)
    def f(self):#instance method
        self.a=10
        Test.x2=7
    @staticmethod
    def f1():
        print("hello")
        Test.x3=12
    @classmethod
    def f2(cls):
        cls.x=5
        
def fun():
    print("Non member function")
    
t1=Test()
t1.b=11
t1.f1()# f1(t1)
Test.x4=13
Test.f2()#f2()
Test.f3()# f3(Test)

In [3]:
def f1():
    x=5
    print("x is=",x)
print("outside function x is ", x)
print()

NameError: name 'x' is not defined

In [4]:
def f1():
    x=5#   
    print("x is=",x)
f1()
print("outside function x is ", x)
print()

x is= 5

NameError: name 'x' is not defined

In [6]:
y=10 #Global variable
def f5():
    x=5 #Local variable
    print("x =",x)
f5()
print("y =",y)

x = 5
y = 10

In [7]:
y=10 #Global variable
def f5():
    x=5 #Local variable
    print("x =",x)
    print("y =",y)
f5()
print("y =",y)
print()

x = 5
y = 10
y = 10

In [8]:
x=10 #Global variable
def f5():
    x=5 #Local variable
    print("x =",x)
    print("x after 1st x =",x)
f5()
print("outside the function x =",x)
print()

x = 5
x after 1st x = 5
outside the function x = 10

In [11]:
x=10 #Global variable
def f5():
    global x
    x=5 #global variable
    print("local x =",x)#global
    print("global x =",x)#global
f5()
print("global x diclared outside the function=",x)
print()

local x = 5
global x = 5
global x diclared outside the function= 5

In [ ]:
x=10 #Global variable
def f5():
    global x
    x=5 #global variable
    print("local x =",x)#global
    print("global x =",x)#global
f5()
print("global x diclared outside the function=",x)
print()

In [12]:
x=10 #Global variable
def f5():
    x=7
    global x
    x=5 #global variable
    print("local x =",x)#global
    print("global x =",x)#global
f5()
print("global x diclared outside the function=",x)
print()

SyntaxError: name 'x' is assigned to before global declaration (3443145850.py, line 4)

In [13]:
x=10 #Global variable
def f5():
    x=7
    global x
    #x=5 #global variable
    print("local x =",x)#global
    print("global x =",x)#global
f5()
print("global x diclared outside the function=",x)
print()

SyntaxError: name 'x' is assigned to before global declaration (2060253838.py, line 4)

In [15]:
x=10 #Global variable
def f5():
    #x=7
    g=globals( )
    x=5 #global variable
    print("local x =",x)#global
    print("global x =",x)#global
f5()
print("global x diclared outside the function=",x)
print()

local x = 5
global x = 5
global x diclared outside the function= 10

In [ ]:
#Name conflict-when name of local and global variable are same

In [ ]:
#r=range(start end step)(inclusive exclusive common gap)
#  range(1 5 1)-1,2,3,4
#  range(2 8 2)- 2, 4, 6
#  range(10, 3, -2)- 10 8 6 4

In [1]:
r=range(1, 6, 1)
print(r)

range(1, 6)

In [2]:
r

range(1, 6)

In [5]:
for e in range r:
    print(e)

SyntaxError: invalid syntax (3667711431.py, line 1)

In [6]:
for e in r:
    print(e)

1
2
3
4
5

In [7]:
for e in range(1,4):
    print(e)

1
2
3

In [8]:
r=range(10, 3,-2)
for e in r:
    print(e)

10
8
6
4

In [ ]:
#r=range(beg end step) beg=0 step=1
#range(end)
#range(beg, end)

In [9]:
range(5)

range(0, 5)

In [10]:
for e in range(5):
    print(e)

0
1
2
3
4

In [11]:
 for e in range(6):
        print(e,e**2)

0 0
1 1
2 4
3 9
4 16
5 25

In [12]:
r=range(2,10,3)
for e in r:
    print(e,e**2)

2 4
5 25
8 64

In [14]:
for e in range(1,11):
    print("square",e**2, end=" ")

square 1 square 4 square 9 square 16 square 25 square 36 square 49 square 64 square 81 square 100

In [15]:
for e in range(1,n):

    print(e**2, end=" ")

NameError: name 'n' is not defined

In [16]:
print("Enter a number")
n=int(input())
for e in range(1,n+1):
    print(e**2, end=" ")

Enter a number
5
1 4 9 16

In [ ]:
#List

In [17]:
l=[10,20,30,40]
type(l)

list

In [18]:
l2=[10, 3+4j,True, "snehal"]
type(l2)

list

In [19]:
l=[1,2,3,4,5,6,7,8]
print(l)
print(l[0])
print(l[1],l[4])

[1, 2, 3, 4, 5, 6, 7, 8]
1
2 5

In [20]:
l3=[]
type(l3)

list

In [21]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
l(-1)

TypeError: 'list' object is not callable

In [23]:
l[-1]

8

In [26]:
for x in l:
    print(x, end=" ")

1 2 3 4 5 6 7 8

In [27]:
i=0
while i<=5:
    print(l[i], end=" ")
    i=i+1

1 2 3 4 5 6

In [28]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
del l[1]
l

[1, 4, 5, 6, 7, 8]

In [31]:
l[1]

4

In [32]:
l

[1, 4, 5, 6, 7, 8]

In [33]:
del l[1]
l

[1, 5, 6, 7, 8]

In [34]:
l[1]=True
l

[1, True, 6, 7, 8]

In [ ]:
# there are standerd ways to add elements in the list
#append()
#insert().. attributes of list class

In [1]:
l2

NameError: name 'l2' is not defined

In [2]:
l=[1,2,3,4,5,6,7,True,3+4j,'snehal']
l

[1, 2, 3, 4, 5, 6, 7, True, (3+4j), 'snehal']

In [1]:
i=1
while i<=10:
    print(i**2, end=' ')
    i+=1
print()

1 4 9 16 25 36 49 64 81 100

In [ ]:
print("enter two numbers")
a=int(input())
b=int(input())
L=a if a>b else b
while L<=a+b:
    if L%a==0 and l%b==0:
        print("LCM is", L)

In [ ]:
# Built in methods len(), min(), max(), sum(), sorted()

In [ ]:
# Packing and Unpacking

In [ ]:
ARNAV CHANDRASHEKHAR JAMBE ARUSH CHANDRASHAKHAR JAMBE

ARUSH CHANDRESHKER JAMBE