In [1]:
# Python programs to add two numbers

In [2]:
a=3
b=4
c=a+b

In [3]:
print(c)

7

In [4]:
# add 2 numbers using function

In [5]:
s = ['a', 'c', 'e', 'g', 'k','l']
s

['a', 'c', 'e', 'g', 'k', 'l']

In [6]:
s.append('m')

In [7]:
s

['a', 'c', 'e', 'g', 'k', 'l', 'm']

In [8]:
s.insert(2, 'd')

In [9]:
s

['a', 'c', 'd', 'e', 'g', 'k', 'l', 'm']

In [10]:
s.insert(0, 1)

In [11]:
s

[1, 'a', 'c', 'd', 'e', 'g', 'k', 'l', 'm']

In [12]:
n= [2,4,6]
s.extend(n)

In [13]:
s

[1, 'a', 'c', 'd', 'e', 'g', 'k', 'l', 'm', 2, 4, 6]

In [14]:
s.insert(1,n)

In [15]:
s

[1, [2, 4, 6], 'a', 'c', 'd', 'e', 'g', 'k', 'l', 'm', 2, 4, 6]

In [16]:
del s[3]

In [17]:
s

[1, [2, 4, 6], 'a', 'd', 'e', 'g', 'k', 'l', 'm', 2, 4, 6]

In [18]:
# Dictionary..

In [19]:
d = {'a':1, 'b':5, 'c':3, 'd':7, 'e':8, 'f':6 }
d

{'a': 1, 'b': 5, 'c': 3, 'd': 7, 'e': 8, 'f': 6}

In [20]:
d['c']

3

In [21]:
d['e']

8

In [22]:
d['s'] = 12

In [23]:
d

{'a': 1, 'b': 5, 'c': 3, 'd': 7, 'e': 8, 'f': 6, 's': 12}

In [24]:
len(d)

7

In [25]:
del d ['c']

In [26]:
d

{'a': 1, 'b': 5, 'd': 7, 'e': 8, 'f': 6, 's': 12}

In [27]:
len(d)

6

In [28]:
d.update({"t":21, "h":9, 'p':14})
d

{'a': 1, 'b': 5, 'd': 7, 'e': 8, 'f': 6, 's': 12, 't': 21, 'h': 9, 'p': 14}

In [29]:
d.keys()

dict_keys(['a', 'b', 'd', 'e', 'f', 's', 't', 'h', 'p'])

In [30]:
d.values()

dict_values([1, 5, 7, 8, 6, 12, 21, 9, 14])

In [31]:
for i in d:
    print(i)

a
b
d
e
f
s
t
h
p

In [32]:
for k,v in d.items():
    print(k)
    print(v)

a
1
b
5
d
7
e
8
f
6
s
12
t
21
h
9
p
14

In [33]:
max = 10
max_k = "a"

for k,v in d.items():
    if v > max:
        max= v
        max_k = k
print(max_k)

t

In [34]:
sorted(d, key = lambda x: d[x],reverse = True)

['t', 'p', 's', 'h', 'e', 'd', 'f', 'b', 'a']

In [35]:
sorted(d, key = lambda x: d[x],reverse = True)[0]

't'

In [36]:
sorted(d)

['a', 'b', 'd', 'e', 'f', 'h', 'p', 's', 't']

In [37]:
sorted(d, key = lambda x: x ,reverse = True)

['t', 's', 'p', 'h', 'f', 'e', 'd', 'b', 'a']

In [38]:
sorted(d, reverse=True)

['t', 's', 'p', 'h', 'f', 'e', 'd', 'b', 'a']

In [39]:
d

{'a': 1, 'b': 5, 'd': 7, 'e': 8, 'f': 6, 's': 12, 't': 21, 'h': 9, 'p': 14}

In [40]:
s = " i love sports, My country is the best sports teams in the world. i am a football fan."
s

' i love sports, My country is the best sports teams in the world. i am a football fan.'

In [41]:
s.split()

['i',
 'love',
 'sports,',
 'My',
 'country',
 'is',
 'the',
 'best',
 'sports',
 'teams',
 'in',
 'the',
 'world.',
 'i',
 'am',
 'a',
 'football',
 'fan.']

In [42]:
s_map = {}

for i in s.split():
    if i not in s_map:
        s_map[i] = 1
    else:
        s_map[i] += 1
s_map

{'i': 2,
 'love': 1,
 'sports,': 1,
 'My': 1,
 'country': 1,
 'is': 1,
 'the': 2,
 'best': 1,
 'sports': 1,
 'teams': 1,
 'in': 1,
 'world.': 1,
 'am': 1,
 'a': 1,
 'football': 1,
 'fan.': 1}

In [43]:
gold_medals = {'I': {'wrestling': 3, 'Long Jump': 3, 'Basketball' : 5},
                'C': {'wrestling': 1, 'Long Jump': 5, 'Basketball' : 3},
                 'E': {'wrestling': 2, 'Long Jump': 7, 'Basketball' : 0}}

In [44]:
gold_medals["C"]

{'wrestling': 1, 'Long Jump': 5, 'Basketball': 3}

In [45]:
gold_medals['I']

{'wrestling': 3, 'Long Jump': 3, 'Basketball': 5}

In [46]:
gold_medals['I']['Long Jump']

3

In [47]:
students = [{'Name': 's', 'Age': '12', 'Score': 90},
           {'Name': 'n', 'Age': '13', 'Score': 82},
           {'Name': 'e', 'Age': '11', 'Score': 70},
           {'Name': 'h', 'Age': '10', 'Score': 95}]

In [48]:
students

[{'Name': 's', 'Age': '12', 'Score': 90},
 {'Name': 'n', 'Age': '13', 'Score': 82},
 {'Name': 'e', 'Age': '11', 'Score': 70},
 {'Name': 'h', 'Age': '10', 'Score': 95}]

In [49]:
students[2]['Age']

'11'

In [50]:
students[2]

{'Name': 'e', 'Age': '11', 'Score': 70}

In [51]:
sorted(students, key = lambda x:x['Score'], reverse=True)

[{'Name': 'h', 'Age': '10', 'Score': 95},
 {'Name': 's', 'Age': '12', 'Score': 90},
 {'Name': 'n', 'Age': '13', 'Score': 82},
 {'Name': 'e', 'Age': '11', 'Score': 70}]

In [52]:
sorted(students, key = lambda x:x['Score'], reverse=True)[0]["Name"]

'h'

In [53]:
sorted(students, key = lambda x:x['Score'], reverse=True)[0]

{'Name': 'h', 'Age': '10', 'Score': 95}

In [54]:
sorted(students, key = lambda x:x['Score'], reverse=True)[2]["Name"]

'n'

In [55]:
def add(x, y):
    return x+y

In [56]:
add(4,5)

9

In [57]:
a = [2,4,5,6,7,8]
b = [3,4,5,7,3,6]
c = [7,9,8,4,5,5]

In [58]:
add(a,b)

[2, 4, 5, 6, 7, 8, 3, 4, 5, 7, 3, 6]

In [59]:
mul = lambda x, y: x*y

In [60]:
mul(9,6)

54

In [61]:
add1 = lambda x, y: x+y

In [62]:
add1(a,b)

[2, 4, 5, 6, 7, 8, 3, 4, 5, 7, 3, 6]

In [63]:
res = []
for i in range(0, len(a)):
    res.append(a[i]+b[i])
res

[5, 8, 10, 13, 10, 14]

In [64]:
list(map(add1, a,b))

[5, 8, 10, 13, 10, 14]

In [65]:
list(map(lambda x, y: x+y, a, b))

[5, 8, 10, 13, 10, 14]

In [66]:
list(map(lambda x, y: x*y, a, b))

[6, 16, 25, 42, 21, 48]

In [67]:
list(map(lambda x,y,z: x+y+z, a,b,c))

[12, 17, 18, 17, 15, 19]

In [68]:
list(map(lambda x,y,z: 2*x+2.5*y+z, a,b,c))

[18.5, 27.0, 30.5, 33.5, 26.5, 36.0]

In [69]:
list(filter(lambda x: x>5,c))

[7, 9, 8]

In [70]:
list(filter(lambda x: x%2==0, b))

[4, 6]

In [71]:
list(filter(lambda x: x<5, a))

[2, 4]

In [72]:

list(filter(lambda x: x%2==0, a))

[2, 4, 6, 8]

In [73]:
names = ['w', 'e', 'r', 't', 'y', 'u','d', 'g', 'h','l', 'aa','bb']

In [74]:
list(filter(lambda x: x[0], names))

['w', 'e', 'r', 't', 'y', 'u', 'd', 'g', 'h', 'l', 'aa', 'bb']

In [75]:
list(filter(lambda x: x[0]=='a' ,names))

['aa']

In [76]:
list(filter(lambda x: x[0]!='b', names))

['w', 'e', 'r', 't', 'y', 'u', 'd', 'g', 'h', 'l', 'aa']

In [77]:
sorted(names, key=lambda x: x[0])

['aa', 'bb', 'd', 'e', 'g', 'h', 'l', 'r', 't', 'u', 'w', 'y']

In [78]:
dict_a= [{"names":'john', 'age':11},
        {"names":'joh', 'age':14},
        {"names":'jn', 'age':13},
        {"names":'ohn', 'age':22}]

In [79]:
list(map(lambda x: x['names'], dict_a))

['john', 'joh', 'jn', 'ohn']

In [80]:
sorted(list(map(lambda x: x['age'], dict_a)))

[11, 13, 14, 22]

In [81]:
sorted(dict_a, key=lambda x: x['age'])

[{'names': 'john', 'age': 11},
 {'names': 'jn', 'age': 13},
 {'names': 'joh', 'age': 14},
 {'names': 'ohn', 'age': 22}]

In [82]:
sorted(dict_a, key=lambda x: x['age'])[0]

{'names': 'john', 'age': 11}

In [83]:
sorted(dict_a, key=lambda x: x['age'])[-1]

{'names': 'ohn', 'age': 22}

In [84]:
sorted(dict_a, key=lambda x: x['age'], reverse=True)

[{'names': 'ohn', 'age': 22},
 {'names': 'joh', 'age': 14},
 {'names': 'jn', 'age': 13},
 {'names': 'john', 'age': 11}]

In [85]:
files = ['1.cad', '1.bat', '1.aa.doc', '1.aa']

In [86]:
'1.cad'.split('.')

['1', 'cad']

In [87]:
sorted(files, key= lambda x: x.split('.')[-1])

['1.aa', '1.bat', '1.cad', '1.aa.doc']

In [88]:
files[1].split('.')

['1', 'bat']

In [91]:
#files.split('.')#AttributeError:'list' object has no attribute 'split'

In [92]:
# simple python programs, learn coding PDF

In [93]:
# for_loop

In [95]:
User_input= int(input("enter N:"))

for N in range(1, 11):
    print(User_input*N)

enter N:5
5
10
15
20
25
30
35
40
45
50

In [96]:
# Functions

In [98]:
# print() and len() is in-built functions
# print(len("something"))

# syntax to define a function

 def function_name(parameter1, parametern):
      "body"
      "body"
      return value

In [103]:
a=8
b=4

def calculator(a,b):
    print("addition:",a+b)
    print("sub:", a-b)
    print("div:", a/b)
    print("mul:", a*b)

In [104]:
calculator(10,20)

addition: 30
sub: -10
div: 0.5
mul: 200

In [105]:
calculator(a,b)

addition: 12
sub: 4
div: 2.0
mul: 32

In [ ]:
# positional argument
# def greet(firstame, lastname):
#     print("good evening",firstname , lastname )

In [119]:

## positional arguments
def greet(firstname, lastname):
    print("good evening", firstname,lastname)
    #greet("kumar", "ankit")

In [130]:
greet("snehal","meher")

good evening snehal meher

In [131]:
## keyward arguments 
#greet("kumar", "snehal")   
# positional arguments
def hi(first, last):
    print("good evening", first,last)
    #greet(lastname="kumar", "ankit")

In [133]:
#hi(lastname="kumar", "ankit")#SyntaxError: positional 
#argument follows keyword argument

In [134]:
## default arguments
def greet(firstname="guest"):
    print("goodevening",firstname)

In [135]:
greet("ankush")

goodevening ankush

In [139]:
hi("ankush", "a")

good evening ankush a

In [140]:
## variable length argument

In [141]:
def test(*args):
    print(args)
    print(len(args))
    print(type(args))

In [142]:
test("india", "shree", "ban")

('india', 'shree', 'ban')
3
<class 'tuple'>

In [148]:

def best(*kwargs):
    print(kwargs)
    print(len(kwargs))
    print(type(kwargs))

In [152]:
best('india','rohit')

('india', 'rohit')
2
<class 'tuple'>

In [ ]:
# identifiers- cresting identifiers in python
# integic data types

In [153]:
var=143
print(type(var))

<class 'int'>

In [154]:
#decimal form
var=123

In [155]:
#binary form
bvar=0B1111
print(type(bvar))

<class 'int'>

In [156]:
#Octal form
ovar=0o123
print(type(ovar))

<class 'int'>

In [157]:
#hexadecimal form
hvar = 0XFACE
print(type(hvar))

<class 'int'>

In [158]:
print(oct(20))

0o24

In [159]:
#floating data type
fvar= 3.14
print(type(fvar))

<class 'float'>

In [160]:
fvar=1.10e20
print(type(fvar))

<class 'float'>

In [161]:
cvar = 0b1111+ 32j
print(cvar.imag)

32.0

In [162]:
# boolean data types
bvar = True
print(type(bvar))

<class 'bool'>

In [163]:
#String data types

svar = 'he said,"i an doing great"'
print(type(svar))

<class 'str'>

In [165]:
hi="learn code"
msg=f"sddggkh: {hi}"
print(type(msg))

<class 'str'>

In [166]:
print(msg)

sddggkh: learn code

In [167]:
list_of_string=svar.split(' ')
print(type(list_of_string))

<class 'list'>

In [168]:
list_of_string=svar.split(' ')

In [169]:
data = ['hello sir', 'nice to see you', 'welcome']
print('-'.join(data))

hello sir-nice to see you-welcome

In [170]:
info = "i am intersted in learning "
print(info.isspace())

False

In [171]:
rvar = range(10, 20,3)
print(type(rvar))

<class 'range'>

In [172]:
for data in rvar:
    print(data)

10
13
16
19

In [ ]:
## if else

In [175]:
age= int(input("enter age:"))

if  age < 18:
    print('you are too young to marray')
elif age>60:
    print('you are too old to marray')
else:
    print("find your perfect match ")

enter age:45
find your perfect match

In [176]:
## input_output

In [ ]:
# taking input from user

In [177]:
#eval-evaluate()
print(eval("2+5/2"))

4.5

In [179]:
user_input = eval(input('enter your name:'))
print(type(user_input))
print("good evening", user_input)

enter your name:hi
<class 'str'>
good evening learn code

In [180]:
print("hello world", end="\n\n\n")
print("how are you")

hello world


how are you

In [181]:
print('hello all of you')

hhello all of you

In [182]:
## list_test

In [ ]:
#creation of list

In [183]:
# empty list
empty_list = []

In [185]:
# list with some values
list2=['dsfgjh', 'ftk','ritki','gdm',True, 12.32, 'hgfd']

In [186]:
list2

['dsfgjh', 'ftk', 'ritki', 'gdm', True, 12.32, 'hgfd']

In [187]:
## with list()
list3 = list()

In [188]:
print(type(empty_list))

<class 'list'>

In [189]:
print(list2[1:4])

['ftk', 'ritki', 'gdm']

In [190]:
# methods of list
list2=[12,2,800,45]

In [195]:
list2.reverse()
print(list2)

[45, 800, 2, 12]

In [196]:
print(list2.reverse())

None

In [197]:
list3 = ['gfj', 'trkr']

In [198]:
name1,name2 = list3

In [199]:
print(name1)

gfj

In [200]:
# list unpacking

In [203]:
# count()
print(list2.count(2))

1

In [207]:
# index()
if True in list2:
    print(list2.index(True))
else:
    print('not found')

not found

In [208]:
# modules

In [213]:
#from greet import greet as greet_of_functions
#from test import greet as greet_of_test

#ModuleNotFoundError: No module named 'greet'

In [215]:
#greet_of_test

In [216]:
#operators in python#

In [218]:
a=20
b=10

print('addition :', a+b)
print('subtraction :', a-b)
print('multiplication:',a*b)
print('division:',a/b ) # floating point
print('floor division:', a//b)# integic value
print('modulous division:', a%b)#remender
print('power operator:', 5**3)

addition : 30
subtraction : 10
multiplication: 200
division: 2.0
floor division: 2
modulous division: 0
power operator: 125

In [219]:
## comparison

In [220]:

print(10!=23)

True

In [221]:
#logical operator
#and
print(0 and 10)

0

In [222]:
print(10 and 20)

20

In [223]:
#0r
print(True or False)

True

In [224]:
#not
print(not False)

True

In [225]:
print('id of a:', id(a))
print('id of b:', id(b))

id of a: 140612820009808
id of b: 140612820009488

In [227]:
var= "india is great"
print("hello" not in var)

True

In [229]:
# program to list all kwards in programs of python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
## set examples

In [230]:
# empty set

In [231]:
svar= set()

In [234]:
svar

{'learn coding'}

In [235]:
# set with some data
svar = {'hvm,','gfkj','tir','jdtf',1234, True}

In [236]:
# to add soe data
svar.add('learn coding')

In [237]:
svar

{1234, True, 'gfkj', 'hvm,', 'jdtf', 'learn coding', 'tir'}

In [238]:
# to add multiple data

In [239]:
svar.update('india')

In [240]:
svar

{1234, True, 'a', 'd', 'gfkj', 'hvm,', 'i', 'jdtf', 'learn coding', 'n', 'tir'}

In [241]:
# to remove data
print(svar.pop())

True

In [242]:
svar

{1234, 'a', 'd', 'gfkj', 'hvm,', 'i', 'jdtf', 'learn coding', 'n', 'tir'}

In [244]:
print(svar.pop())

a

In [245]:
svar

{1234, 'd', 'gfkj', 'hvm,', 'i', 'jdtf', 'learn coding', 'n', 'tir'}

In [246]:
svar.remove('i')

In [247]:
svar

{1234, 'd', 'gfkj', 'hvm,', 'jdtf', 'learn coding', 'n', 'tir'}

In [249]:
svar.clear()

In [250]:
svar

set()

In [251]:
print(svar)

set()

In [252]:
var1 = {1234, 'd', 'gfkj', 'hvm,', 'jdtf', 'learn coding', 'n', 'tir'}
var2 = {12, 'drst', 'yhgfkj', 'tyhvm,', 'wwstjdtf', 'n', 'tir'}
print(var1.union(var2))

{'hvm,', 'tir', 12, 'd', 'jdtf', 1234, 'tyhvm,', 'gfkj', 'yhgfkj', 'wwstjdtf', 'n', 'learn coding', 'drst'}

In [253]:
print(var1|var2)

{'hvm,', 'tir', 12, 'd', 'jdtf', 1234, 'tyhvm,', 'gfkj', 'yhgfkj', 'wwstjdtf', 'n', 'learn coding', 'drst'}

In [254]:
print(var1.intersection(var2))
print(var1-var2)

{'n', 'tir'}
{'hvm,', 'd', 1234, 'jdtf', 'gfkj', 'learn coding'}

In [256]:
print(var1.difference(var2))
print(var1-var2)

{'hvm,', 'd', 1234, 'jdtf', 'gfkj', 'learn coding'}
{'hvm,', 'd', 1234, 'jdtf', 'gfkj', 'learn coding'}

In [257]:
print(var1.symmetric_difference(var2))

{12, 1234, 'wwstjdtf', 'learn coding', 'hvm,', 'tyhvm,', 'd', 'jdtf', 'yhgfkj', 'gfkj', 'drst'}

In [258]:
## table##

In [268]:
for counter in range(1,11):
    print(20*counter)

20
40
60
80
100
120
140
160
180
200

In [ ]:
#test

In [269]:
def greet():
    print("just anoter greet")

In [270]:
greet()

just anoter greet

In [ ]:
#transfer

In [271]:
if "a" in "learn coding":
    pass

In [272]:
pass

In [275]:
for num in range(1,11):
    if num % 2 == 0:
        break
    else:
        print(num)

1

In [276]:
var = 10
print(var)

10

In [277]:
del(var)

In [279]:
#print(var)
#NameError: name 'var' is not defined

In [281]:
var = 'india'
print(len(var))

5

In [282]:
##tuple.....
var = (21,)
print(type(var))

<class 'tuple'>

In [ ]:
# type casting in python..

In [284]:
var = '123'
ivar = float(var)

In [285]:
print(type(ivar))

<class 'float'>

In [ ]:
## while loop....................

In [286]:
password = 'learn coding'
input_password = input('enter password:')

while password != input_password:
    input_password = input('enter password')
 
else:
    print('unlocked!')

enter password:learn coding
unlocked!

In [ ]:
##25 programs from yc

In [288]:
num1=input('enter num1 value:')
num2=input('enter num2 value:')

print('value of num1 before swapping:', num1)
print('value of num2 before swapping:', num2)

temp=num1
num1=num2
num2=temp
print('value of num1 after swapping:', num1)
print('value of num2 after swapping:', num2)

enter num1 value:10
enter num2 value:20
value of num1 before swapping: 10
value of num2 before swapping: 20
value of num1 after swapping: 20
value of num2 after swapping: 10

In [292]:
#natural number >1
# which has only 2 factors

# program for prime numbers
num=5
count=0
if num>1:
    for i in range(1, num+1):
        if(num%i) ==0:
             count=count+1
    if count ==2:
        print("number is prime")
    else:
        print("number is not prime")

number is prime

In [294]:
int(input('enter num number'))

if num>1:
    for i in range(1, num+1):
        if(num%i) ==0:
             count=count+1
    if count ==2:
        print("number is prime")
    else:
        print("number is not prime")

enter num number6
number is not prime

In [303]:
factorial=1
num=10
if num<0:
    print('factorial doesnot exist for negative numbers')
elif num==0:
    print('factorial of 0 is 1')
else:
    for i in range(1, num+1):
        factorial=factorial*i
    print('the factorial',num, 'is', factorial)

the factorial 10 is 3628800

In [312]:
def factorial(n):
    if(n==1 or n==0):
        return 1
    else:
        return n*factorial(n-1)
num=5
print('fact of', num, 'is', factorial(num))

fact of 5 is 120

In [316]:
def fact(n):
    return 1 if(n==1 or n==0) else n*factorial(n-1)
num=5
print('fact of', num, 'is', factorial(num))

fact of 5 is 120

In [317]:
##output
## 0 1 1 2 3 5 8 13 21 34

In [318]:
n1=0
n2=1

print(n1)
print(n2)
for i in range(2, 10):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

0
1
1
2
3
5
8
13
21
34

In [64]:
arr=[1,2,3,4,5]
#arr.sum()#AttributeError: 'list' object has no attribute 'sum'

In [62]:
#3 Input arr[]= {1,2,3}
#output=6
sum=0
arr=[1,2,3,4,5]
for i in arr:
    sum=sum+i
print('sum of arr', sum)

sum of arr 15

In [2]:
arr=[1,2,3,4,5]
print(sum(arr))

15

In [3]:
print(sum(arr, 10))

25

In [4]:
print(sum(arr, 20))

35

In [9]:
arr1=[30,20,30,56,21]

max=arr[0]
n=len(arr1)

for i in range(1, n):
    if arr1[i]>max:
        max=arr1[i]
print('maximum of array', max)

maximumof array 56

In [10]:
len(arr1)

5

In [12]:
mylist=[1,4,6,7,8,10,12,14,15]
print(mylist)

count=0

for i in mylist:
    count=count+1
print('length of list is:', count)

[1, 4, 6, 7, 8, 10, 12, 14, 15]
length of list is: 9

In [13]:
mylist=[1,4,6,7,8,10,12,14,15]
print(mylist)

count=0

for i in mylist:
    count=count+1
    print('length of list is:', count)

[1, 4, 6, 7, 8, 10, 12, 14, 15]
length of list is: 1
length of list is: 2
length of list is: 3
length of list is: 4
length of list is: 5
length of list is: 6
length of list is: 7
length of list is: 8
length of list is: 9

In [ ]:
# approach 2  using len()

In [14]:
mylist=[1,4,6,7,8,10,12,14,15]
print(mylist)

print('length of list is:', len(mylist))

[1, 4, 6, 7, 8, 10, 12, 14, 15]
length of list is: 9

In [15]:
len(mylist)

9

In [16]:
## Sap first and last elements in a list

In [ ]:
# input:[12,35,9,56,24]
# output:[24,35,9,56,12]

In [17]:
mylist

[1, 4, 6, 7, 8, 10, 12, 14, 15]

In [21]:
#approach1:temparary veriable
size=len(mylist)
temp=mylist[0]
mylist[0]=mylist[size-1]
mylist[size-1]=temp
print(mylist)

[15, 4, 6, 7, 8, 10, 12, 14, 1]

In [23]:
#approach2
mylist[0],mylist[-1]=mylist[-1],mylist[0]
print(mylist)

[1, 4, 6, 7, 8, 10, 12, 14, 15]

In [25]:
#  approach4 : operend
start,*middle, end=mylist
mylist=[end, *middle, start]
print(mylist)

[15, 4, 6, 7, 8, 10, 12, 14, 1]

In [26]:
#approach 5 using pop()
first=mylist.pop(0)#list starts from index 0
last=mylist.pop(-1)
mylist.insert(0,last)
mylist.append(first)
print('list after swapping:', mylist)

list after swapping: [1, 4, 6, 7, 8, 10, 12, 14, 15]

In [27]:
## swap any two elements in a list
# input: list=[23,65,19,90],pos1=1, pos2=3
# output:[19,65,23,90]

In [28]:
#approach1: simple_swap
print(mylist)
pos1,pos2=1,3
mylist[pos1],mylist[pos2]=mylist[pos2],mylist[pos1]
print(mylist)

[1, 4, 6, 7, 8, 10, 12, 14, 15]
[1, 7, 6, 4, 8, 10, 12, 14, 15]

In [29]:
# approach 2 using inbuilt list pop()
pos1, pos2=1,3

f=mylist.pop(pos1)
s=mylist.pop(pos2-1)
mylist.insert(pos1,s)
mylist.insert(pos2,f)
print(mylist)

[1, 4, 6, 7, 8, 10, 12, 14, 15]

In [30]:
#approach;using touple
get=(mylist[pos1], mylist[pos2])
print(mylist)

[1, 4, 6, 7, 8, 10, 12, 14, 15]

In [ ]:
# Remove Nth occurance of the given world
# inpute= ['geeks','for','geeks']
#output=['geeks','for']

In [36]:
l=['geeks','for','geeks']
word='geeks'
n=2

count=0

for i in range(0,len(l)):
    if(l[i]==word):
        count=count+1
    if(count==n):
        del l[i]

In [37]:
l

['geeks', 'for']

In [ ]:
##Search an element in list
#list=[2,4,5,6,7]
#ele=4-element found
#ele=9-element not found

In [39]:
# Approach1:using loop
list=[2,4,5,6,7]
e=4
flag=0

for i in list:
    if(i==e):
        print('element found')
        flag=1
        break
if(flag==0):
    print("element not found")

element found

In [40]:
# how to Clear a list
#input:list=[2,4,5,6,7]
#output:list=[]
#approch:clear(), approch2:initialize list wit no value, 3:*=0, 4:del()

In [41]:
#1:usig clear()

list=[2,4,5,6,7]
print("list before cler:", list)
list.clear()
print('list after clear',list)

list before cler: [2, 4, 5, 6, 7]
list after clear []

In [ ]:
# 2:initialize the list with no values

In [42]:
list=[2,4,5,6,7]
print("list before clear:", list)
list=[]
print('list after clear',list)

list before cler: [2, 4, 5, 6, 7]
list after clear []

In [ ]:
#3: using *=0 this ethodreoves alll the elements in list

In [43]:
list=[2,4,5,6,7]
print("list before cler:", list)
list *=0
print('list after clear',list)

list before cler: [2, 4, 5, 6, 7]
list after clear []

In [46]:
#using del()
list=[2,4,5,6,7]
print("list before cler:", list)
del list[0:5]
print('list after clear',list)

list before cler: [2, 4, 5, 6, 7]
list after clear []

In [47]:
list=[2,4,5,6,7]
print("list before cler:", list)
del list[:]
print('list after clear',list)

list before cler: [2, 4, 5, 6, 7]
list after clear []

In [ ]:
# how to reverse alist

In [48]:
list=[2,4,5,6,7]
print("list before reverse:", list)
list.reverse()
print('list after reverse',list)

list before reverse: [2, 4, 5, 6, 7]
list after reverse [7, 6, 5, 4, 2]

In [49]:
list=[2,4,5,6,7]
print("list before reverse:", list)
list=list[::-1]
print('list after reverse',list)

list before reverse: [2, 4, 5, 6, 7]
list after reverse [7, 6, 5, 4, 2]

In [51]:
list=[2,4,5,6,7]
print("list before reverse:", list)
list=list[1::-1]
print('list after reverse',list)

list before reverse: [2, 4, 5, 6, 7]
list after reverse [4, 2]

In [ ]:
## how to clone or copy a list
#input=list
#output=list copy
#using slicing method, 2.extend(),3.list(), 4.copy(), 5. using list comparison

In [52]:
list=[2,4,5,6,7]
listcopy=list[:]
print(listcopy)

[2, 4, 5, 6, 7]

In [53]:
# extend()
list=[2,4,5,6,7]
copylist=[]
copylist.extend(copylist)
print(listcopy)

[2, 4, 5, 6, 7]

In [54]:
#copy()
list=[2,4,5,6,7]
copylist=list.copy()
print(listcopy)

[2, 4, 5, 6, 7]

In [58]:
# using comparison
list=[2,4,5,6,7]
copylist=[i for i in list]
print(listcopy)

[2, 4, 5, 6, 7]

In [ ]:
# count occurances of an element in a list

In [1]:
# approach 1..

In [7]:
ml=[15,23,32,5,15,7,4,23,7,4,1]
x=15
count=0
for ele in ml:
    if(ele==x):
        count=count+1
print("{} occured {} times".format(x,count))

15 occured 2 times

In [ ]:
# using count()

In [9]:
ml=[15,23,32,5,15,7,4,23,7,4,1]
x=15
print('x occured', ml.count(x),'times')

x occured 2 times

In [12]:
print("{} occured {} times".format(x,ml.count(x)))

15 occured 2 times

In [13]:
#find sum ofelements in list

In [14]:
#1.using for loop with range

In [15]:
ml

[15, 23, 32, 5, 15, 7, 4, 23, 7, 4, 1]

In [3]:

ml=[15, 23, 32, 5, 15, 7, 4, 23, 7, 4, 1]
total=0
for i in range(0, len(ml)):
    total=total+ml[i]
print('sum of list is', total)

sum of list is 136

In [15]:
ml=[15, 23, 32, 5, 15, 7, 4, 23, 7, 4, 1]
total=0
for i in ml:
    total=total+i
print('sum of list is', total)

sum of list is 136

In [4]:
#2.. sum()
print("sum of list :",sum(ml))

sum of list : 136

In [5]:
## multiply all the numbers in list

In [11]:
#1..traversal
mul=1
ml=[15, 23, 32, 5, 15, 7, 4, 23, 7, 4, 1]
for i in range(0, len(ml)):
    mul=mul*ml[i]
print('multiplication of all numbers', mul)

multiplication of all numbers 14930496000

In [13]:
ml=[15, 23, 32, 5, 15, 7, 4, 23, 7, 4, 1]
result=1
for x in ml:
    result=result*x
print('multiplicaton of all ele', result)

multiplicaton of all ele 14930496000

In [16]:
#prod()
import numpy as np
np.prod(ml)

14930496000

In [17]:
# find smallest and largest numbers in the list

In [19]:
ml.sort()
print('smallest',ml[0], 'largest', ml[-1])

smallest 1 largest 32

In [20]:
#  using min(), max()
print('smallest', min(ml), 'largest', max(ml))

smallest 1 largest 32

In [21]:
## 2nd largest in list, after sorting
ml[-2]

23

In [23]:
ml.sort()
ml.remove(max(ml))
max(ml)

23

In [27]:
## palindrome string
# madam=palindrome, welcome=not palindrome

s=input('enter string:')
print(s[:])
print(s[::])
print(s[::-1])
if (s[::-1]==s):
    print("palindrome")
else:

    print(" s is not palindrome")

enter string:madam
madam
madam
madam
palindrome

In [31]:
s="welcome"
revstr=s[::-1]
if (revstr==s):
    print("palindrome")
else:
    print(" s is not palindrome")

 s is not palindrome

In [32]:
#reverse words in a string
#input: str="hello sir welcome"
#output: welcome sir hello

In [34]:
str="hello sir welcome"

words=str.split(" ")
print(words)
words=words[-1::-1]
print(words)

['hello', 'sir', 'welcome']
['welcome', 'sir', 'hello']

In [35]:
str="hello sir welcome"

words=str.split(" ")
print(words)
words=words[::-1]
print(words)

['hello', 'sir', 'welcome']
['welcome', 'sir', 'hello']

In [36]:
# Substring presence in given string
# sub_str=welcome

In [38]:
sub_str="welcome"
print(str.find(sub_str))

10

In [46]:
sub_str="welcome"
print(str.find(sub_str))
if (str.find(sub_str)==10):
    print('found')
else:
    print('not found')

10
found

In [45]:
str.find(sub_str)

10

In [ ]:
## find the lenth of the string
#using for loop
#using while loop and slicing
#using len() inbuilt function
#using join and count()

In [47]:
# using for loop
count=0
for i in str:
    count=count+1
print(count)

17

In [50]:
# using join and count
random='x'
print((random).join(str))

hxexlxlxox xsxixrx xwxexlxcxoxmxe

In [51]:
print((random).join(str).count(random))

16

In [56]:
# Check string contains special chakras

In [59]:
import re
regex=re.compile('@#$%^&*(){}[|\<>]')
if(regex.search(str)==None):
    print(" No special character")
else:
    print("string contain special characters")

 No special character

In [ ]:
total=0

for i in range(0,len(ml)):
    total=total+ml[i]

In [32]:
def add(a,b):
    return a+b

val=add(27, 34)
val

61

In [ ]:
#turtle program

In [31]:
import turtle as t
import time

t.color("blue")
t.begin_fill()

counter=0

while counter<4:
    t.forward(100)
    t.left(90)
    
t.end_fill()
time.sleep(5)

ModuleNotFoundError: No module named 'tkinter'

In [ ]:
## Range function

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(5, 10, 1 ): # Start, stop, diffrence
    print(i)

5
6
7
8
9

In [8]:
for i in range(1, 2,3):
    print(i)

1

In [10]:
for i in range(5, 1, -2):
    print(i)

5
3

In [11]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(0,4, 1):
    print(i)

0
1
2
3

In [13]:
for i in range(0, 4, -1):
    print(i)

In [14]:
for i in range(4, 0, -1):
    print(i)

4
3
2
1

In [15]:
for i in range(4, 0, -2):
    print(i)

4
2

In [17]:
for i in range(4, -1):
    print(i)

In [19]:
for i in range(0, 10, -4 ):
    print(i)

In [20]:
for i in range(0, 10, 4):
    print(i)

0
4
8

In [21]:
a = int(input("Enter the first number:"))
b = int(input(" Enter the second number"))

if a > b:
    min = a
else:
    min = b

while 1:
    if (min%a == 0 and min%b == 0):
        print(" lcm is ", min)
        break
    min = min +1

Enter the first number:5
 Enter the second number7
 lcm is  35

In [ ]:
Skip to content
geeksforgeeks
Courses
Tutorials
Jobs
Practice
Contests


Sign In
Sign In
Home
Saved Videos
Courses
For Working Professionals
For Students
For School Students
Data Structures & Algorithms
Data Structures
Linked List
Tree
Algorithms
Analysis of Algorithms
Searching Algorithms
Sorting Algorithms
Company Wise SDE Sheets
DSA Cheat Sheets
Top Interview Questions
Puzzles
System Design
System Design Tutorial
Software Design Patterns
Interview Corner
Languages
Web Development
CSS Frameworks
JavaScript Frameworks
JavaScript Libraries
Web Dev Cheat Sheets
ML & Data Science
Machine Learning
Data Science Packages
Data Visualization
Data Visualization with Python
Data Visualization with R
Data Visualization Tools
Data Analysis
Deep Learning
Interview Questions
ML Frameworks
CS Subjects
DevOps
School Learning
Mathematics
CBSE Syllabus
Maths Notes (Class 8-12)
Maths Formulas (Class 8 -11)
NCERT Solutions
RD Sharma Solutions
Science Notes
Physics Notes (Class 8-12)
Chemistry Notes (Class 8-12)
Biology Notes
Social Science Syllabus
Social Science Notes
SS Notes (Class 7-12)
CBSE History Notes (Class 7-10)
CBSE Geography Notes (Class 7-10)
CBSE Civics Notes (Class 7-10)
CBSE Previous Year Papers
Commerce
CBSE Class 12 Previous Years Papers
GATE
Other CS Exams
ISRO
UGC NET
UPSC Study Material
History Notes
Student
SSC CGL Study Material
Banking Exams Study Material
SBI Clerk
SBI PO
IBPS PO
IBPS Clerk
For Job Seekers
For Recruiters
Curated DSA Lists
Tutorials
Jobs
Practice
Contests
GBlog
Puzzles
What's New ?
 Change Language

School Guide
CBSE
Class 12 Syllabus
Maths Notes Class 12
Physics Notes Class 12
Chemistry Notes Class 12
Business Studies Notes Class 12
Accountancy Notes Class 12
Macroeconomics Notes Class 12
NCERT Solutions Class 12 Maths
RD Sharma Solutions Class 12


Related Articles
Write an Admission Experience
Share Your Campus Experience
Libraries in Python
What is Biometric Verification?
SQL USE Database Statement
Web Services  Definition, Working, Types, Applications
Cursors in DBMS  Definition, Types, Attributes, Uses
Basic Database Concepts
Cardinality in DBMS
Different Types of Wireless Communication Media
SET ROWCOUNT Function in SQL Server
What is Bandwidth? Definition, Working, Importance, Uses
Reading Rows from a CSV File in Python
What is an IP Address?
Map Abstract Data Type
How to Create a Database Connection?
What is Data Transfer Rate?
Collision Resolution Techniques
Idea of Efficiency in Computational Thinking
SQL Drop Table Statement
Degree of Relations in DBMS
Write an Admission Experience
Get published on GeeksforGeeks!
Join Write It Up.
Libraries in Python
What is Biometric Verification?
SQL USE Database Statement
Web Services  Definition, Working, Types, Applications
Cursors in DBMS  Definition, Types, Attributes, Uses
Basic Database Concepts
Cardinality in DBMS
Different Types of Wireless Communication Media
SET ROWCOUNT Function in SQL Server
What is Bandwidth? Definition, Working, Importance, Uses
Reading Rows from a CSV File in Python
What is an IP Address?
Map Abstract Data Type
How to Create a Database Connection?
What is Data Transfer Rate?
Collision Resolution Techniques
Idea of Efficiency in Computational Thinking
SQL Drop Table Statement
Degree of Relations in DBMS
Sorting Algorithms in Python
B

bskapardi2002
Read
Discuss
Courses
Practice

Sorting is defined as an arrangement of data in a certain order. Sorting techniques are used to arrange data(mostly numerical) in an ascending or descending order. It is a method used for the representation of data in a more comprehensible format. It is an important area of Computer Science. Sorting a large amount of data can take a substantial amount of computing resources if the methods we use to sort the data are inefficient. The efficiency of the algorithm is proportional to the number of items it is traversing. For a small amount of data, a complex sorting method may be more trouble than it is worth. On the other hand, for larger amounts of data, we want to increase the efficiency and speed as far as possible. We will now discuss the several sorting techniques and compare them with respect to their time complexity.



Some of the real-life examples of sorting are:

Telephone Directory:  It is a book that contains telephone numbers and addresses of people in alphabetical order.
Dictionary: It is a huge collection of words along with their meanings in alphabetical order.
Contact List: It is a list of contact numbers of people in alphabetical order on a mobile phone.
Before discussing the different algorithms used to sort the data given to us, we should think about the operations which can be used for the analysis of a sorting process. First, we need to compare the values to see which one is smaller and which one is larger so that they can be sorted into an order, it will be necessary to have an organized way to compare values to see that if they are in order. 


The different types of order are:

Increasing Order: A set of values are said to be increasing order when every successive element is greater than its previous element. For example: 1, 2, 3, 4, 5. Here, the given sequence is in increasing order.
Decreasing Order: A set of values are said to be in decreasing order when the successive element is always less than the previous one. For Example: 5, 4, 3, 2, 1. Here the given sequence is in decreasing order.
Non-Increasing Order: A set of values are said to be in non-increasing order if every ith element present in the sequence is greater than or equal to its (i-1)th element. This order occurs whenever there are numbers that are being repeated. For Example: 1, 2, 2, 3, 4, 5. Here 2 repeated two times.
Non-Decreasing Order: A set of values are said to be in non-decreasing order if every ith element present in the sequence is less than or equal to its (i-1)th element. This order occurs whenever there are numbers that are being repeated. For Example: 5, 4, 3, 2, 2, 1. Here 2 repeated two times.
Sorting Techniques
The different implementations of sorting techniques in Python are:

Bubble Sort
Selection Sort
Insertion Sort
Bubble Sort
Bubble Sort is a simple sorting algorithm. This sorting algorithm repeatedly compares two adjacent elements and swaps them if they are in the wrong order. It is also known as the sinking sort. It has a time complexity of O(n2) in the average and worst cases scenarios and O(n) in the best-case scenario. Bubble sort can be visualized as a queue where people arrange themselves by swapping with each other so that they all can stand in ascending order of their heights. Or in other words, we compare two adjacent elements and see if their order is wrong, if the order is wrong we swap them. (i.e arr[i] > arr[j] for 1 <= i < j <= s; where s is the size of the array, if array is to be in ascending order, and vice-versa).

Example 

Here we sort the following sequence using bubble sort

Sequence: 2, 23, 10, 1

First Iteration

(2, 23, 10, 1) > (2, 23, 10, 1), Here the first 2 elements are compared and remain the same because they are already in ascending order.

(2, 23, 10, 1) > (2, 10, 23, 1), Here 2nd and 3rd elements are compared and swapped(10 is less than 23) according to ascending order.

(2, 10, 23, 1) > (2, 10, 1, 23), Here 3rd and 4th elements are compared and swapped(1 is less than 23) according to ascending order

At the end of the first iteration, the largest element is at the rightmost position which is sorted correctly.

Second Iteration

(2, 10, 1, 23) > (2, 10, 1, 23), Here again, the first 2 elements are compared and remain the same because they are already in ascending order.

(2, 10, 1, 23) > (2, 1, 10, 23), Here 2nd and 3rd elements are compared and swapped(1 is less than 10) in ascending order.

At the end of the second iteration, the second largest element is at the adjacent position to the largest element.

Third Iteration

(2, 1, 10, 23) > (1, 2, 10, 23), Here the first 2 elements are compared and swap according to ascending order.

The remaining elements are already sorted in the first and second Iterations. After the three iterations, the given array is sorted in ascending order. So the final result is 1, 2, 10, 23.

Implementation of Bubble Sort:


# Python3 program for Bubble Sort Algorithm Implementation
def bubbleSort(arr):
     
    n = len(arr)
 
    # For loop to traverse through all
    # element in an array
    for i in range(n):
        for j in range(0, n - i - 1):
             
            # Range of the array is from 0 to n-i-1
            # Swap the elements if the element found
            #is greater than the adjacent element
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
                 
# Driver code
 
# Example to test the above code
arr = [ 2, 1, 10, 23 ]
 
bubbleSort(arr)
 
print("Sorted array is:")
for i in range(len(arr)):
    print("%d" % arr[i])
Output
Sorted array is:
1
2
10
23
Time Complexity: O(n2)
Auxiliary Space: O(1)

Selection Sort
This sorting technique repeatedly finds the minimum element and sort it in order. Bubble Sort does not occupy any extra memory space. During the execution of this algorithm, two subarrays are maintained, the subarray which is already sorted, and the remaining subarray which is unsorted. During the execution of Selection Sort for every iteration, the minimum element of the unsorted subarray is arranged in the sorted subarray. Selection Sort is a more efficient algorithm than bubble sort. Sort has a Time-Complexity of O(n2) in the average, worst, and in the best cases.

Example 

Here we sort the following sequence using the selection sort

Sequence: 7, 2, 1, 6

(7, 2, 1, 6) > (1, 7, 2, 6), In the first traverse it finds the minimum element(i.e., 1) and it is placed at 1st position.

(1, 7, 2, 6) > (1, 2, 7, 6), In the second traverse it finds the 2nd minimum element(i.e., 2) and it is placed at 2nd position.

(1, 2, 7, 6) > (1, 2, 6, 7), In the third traverse it finds the next minimum element(i.e., 6) and it is placed at 3rd position.

After the above iterations, the final array is in sorted order, i.e., 1, 2, 6, 7.

Implementation of Selection Sort


# Selection Sort algorithm in Python
def selectionSort(array, size):
     
    for s in range(size):
        min_idx = s
         
        for i in range(s + 1, size):
             
            # For sorting in descending order
            # for minimum element in each loop
            if array[i] < array[min_idx]:
                min_idx = i
 
        # Arranging min at the correct position
        (array[s], array[min_idx]) = (array[min_idx], array[s])
 
# Driver code
data = [ 7, 2, 1, 6 ]
size = len(data)
selectionSort(data, size)
 
print('Sorted Array in Ascending Order is :')
print(data)
Output
Sorted Array in Ascending Order is :
[1, 2, 6, 7]
Time Complexity: O(n2)
Auxiliary Space: O(1)

Insertion Sort
This sorting algorithm maintains a sub-array that is always sorted. Values from the unsorted part of the array are placed at the correct position in the sorted part. It is more efficient in practice than other algorithms such as selection sort or bubble sort. Insertion Sort has a Time-Complexity of O(n2) in the average and worst case, and O(n) in the best case.

Example 

Here we sort the following sequence using the insertion sort

Sequence: 7, 2, 1, 6

(7, 2, 1, 6) > (2, 7, 1, 6), In the first iteration, the first 2 elements are compared, here 2 is less than 7 so insert 2 before 7.

(2, 7, 1, 6) > (2, 1, 7, 6), In the second iteration the 2nd and 3rd elements are compared, here 1 is less than 7 so insert 1 before 7.

(2, 1, 7, 6) > (1, 2, 7, 6), After the second iteration (1, 7) elements are not in ascending order so first these two elements are arranged. So, insert 1 before 2. 

(1, 2, 7, 6) > (1, 2, 6, 7), During this iteration the last 2 elements are compared and swapped after all the previous elements are swapped. 

Implementation of Insertion Sort


ccccccccccccc
How to Use Algorithms to Solve Problems?
2.
Python | Set 4 (Dictionary, Keywords in Python)
3.
Python  The new generation Language
4.
Increment and Decrement Operators in Python
5.
Interesting facts about strings in Python | Set 1
6.
Interesting facts about strings in Python | Set 2 (Slicing)
7.
Python List Comprehension and Slicing
8.
Loops and Control Statements (continue, break and pass) in Python
9.
Object Oriented Programming in Python | Set 2 (Data Hiding and Object Printing)
10.
Ternary Operator in Python
Related Tutorials
1.
Coding For Kids - Online Free Tutorial to Learn Coding
2.
Economics
3.
Computer Science and Programming For Kids
4.
Maths
5.
Indian Economic Development
Previous
Process Capability Index (Cpk) Formula
Next
Create Fountain Animation with Flash
Article Contributed By :
B

bskapardi2002
bskapardi2002
 Follow
Vote for difficulty
Current difficulty : Easy
Easy
Normal
Medium
Hard
Expert
Improved By :
avtarkumar719
germanshephered48
nikhatkhan11
abhijeet19403
abhishek_0603
Article Tags :
Picked
Class 12
School Learning
School Programming
Improve Article
Report Issue

Join our Community
Courses
course-img
5k+ interested Geeks
CBSE Class 12 Computer Science
Explore
course-img
147k+ interested Geeks
Master Java Programming - Complete Beginner to Advanced
Explore
course-img
150k+ interested Geeks
Python Programming Foundation - Self Paced
Explore

geeksforgeeks-footer-logo
A-143, 9th Floor, Sovereign Corporate Tower, Sector-136, Noida, Uttar Pradesh - 201305
feedback@geeksforgeeks.org
GFG App on Play Store
GFG App on App Store
Company
About Us
Legal
Careers
In Media
Contact Us
Advertise with us
Explore
Job-A-Thon For Freshers
Job-A-Thon For Experienced
GfG Weekly Contest
Offline Classes (Delhi/NCR)
DSA in JAVA/C++
Master System Design
Master CP
Languages
Python
Java
C++
PHP
GoLang
SQL
R Language
Android Tutorial
Data Structures
Array
String
Linked List
Stack
Queue
Tree
Graph
Algorithms
Sorting
Searching
Greedy
Dynamic Programming
Pattern Searching
Recursion
Backtracking
Web Development
HTML
CSS
JavaScript
Bootstrap
ReactJS
AngularJS
NodeJS
Computer Science
GATE CS Notes
Operating Systems
Computer Network
Database Management System
Software Engineering
Digital Logic Design
Engineering Maths
Python
Python Programming Examples
Django Tutorial
Python Projects
Python Tkinter
OpenCV Python Tutorial
Python Interview Question
Data Science & ML
Data Science With Python
Data Science For Beginner
Machine Learning Tutorial
Maths For Machine Learning
Pandas Tutorial
NumPy Tutorial
NLP Tutorial
Deep Learning Tutorial
DevOps
Git
AWS
Docker
Kubernetes
Azure
GCP
Competitive Programming
Top DSA for CP
Top 50 Tree Problems
Top 50 Graph Problems
Top 50 Array Problems
Top 50 String Problems
Top 50 DP Problems
Top 15 Websites for CP
System Design
What is System Design
Monolithic and Distributed SD
Scalability in SD
Databases in SD
High Level Design or HLD
Low Level Design or LLD
Top SD Interview Questions
Interview Corner
Company Wise Preparation
Preparation for SDE
Experienced Interviews
Internship Interviews
Competitive Programming
Aptitude Preparation
GfG School
CBSE Notes for Class 8
CBSE Notes for Class 9
CBSE Notes for Class 10
CBSE Notes for Class 11
CBSE Notes for Class 12
English Grammar
Commerce
Accountancy
Business Studies
Economics
Management
Income Tax
Finance
UPSC
Polity Notes
Geography Notes
History Notes
Science and Technology Notes
Economics Notes
Important Topics in Ethics
UPSC Previous Year Papers
SSC/ BANKING
SSC CGL Syllabus
SBI PO Syllabus
SBI Clerk Syllabus
IBPS PO Syllabus
IBPS Clerk Syllabus
Aptitude Questions
SSC CGL Practice Papers
Write & Earn
Write an Article
Improve an Article
Pick Topics to Write
Write Interview Experience
Internships
Video Internship
@geeksforgeeks , Some rights reserved
We use cookies to ensure you have the best browsing experience on our website. By using our site, you acknowledge that you have read and understood our Cookie Policy & Privacy Policy
Got It !
Lightbox

In [ ]:
def bubbleSort(arr):
     
    n = len(arr)
 
    # For loop to traverse through all
    # element in an array
    for i in range(n):
        for j in range(0, n - i - 1):
             
            # Range of the array is from 0 to n-i-1
            # Swap the elements if the element found
            #is greater than the adjacent element
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
                 
# Driver code
 
# Example to test the above code
arr = [ 2, 1, 10, 23 ]
 
bubbleSort(arr)
 
print("Sorted array is:")
for i in range(len(arr)):
    print("%d" % arr[i])
Output
Sorted array is:
1
2
10
23
Time Complexity: O(n2)
Auxiliary Space: O(1)

In [ ]:
# Selection Sort algorithm in Python
def selectionSort(array, size):
     
    for s in range(size):
        min_idx = s
         
        for i in range(s + 1, size):
             
            # For sorting in descending order
            # for minimum element in each loop
            if array[i] < array[min_idx]:
                min_idx = i
 
        # Arranging min at the correct position
        (array[s], array[min_idx]) = (array[min_idx], array[s])
 
# Driver code
data = [ 7, 2, 1, 6 ]
size = len(data)
selectionSort(data, size)
 
print('Sorted Array in Ascending Order is :')
print(data)
Output
Sorted Array in Ascending Order is :
[1, 2, 6, 7]
Time Complexity: O(n2)
Auxiliary Space: O(1)